.container{
  min-height: 100vh;
  width:100%;
  background-color: hsla(194, 100%, 26%, 1);
  position: relative;
  isolation: isolate;
  overflow: hidden;
}
.hero{
  min-height : 80vh;
  width:100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: calc(100vh - 80vh);
  z-index: 1;
  display: flex;
  justify-content: space-between;
  position: relative;
  isolation: isolate;
}
.container::before, .container::after{
  content: "";
  position: absolute;
  width: 559px;
  height: 559px;
  border-radius: 100%;
  z-index: -1;
}
.container::before{
  top: -45px;
  left: -260px;
  background: rgba(23, 183, 168, 0.69);
    filter: blur(85.15px);
}
.container::after{
  bottom:0%;
  right: 0%;
background: #057CA1;
  filter: blur(69.074px);

}
.heroText{
  display: flex;
  flex-direction: column;
  gap:1rem;
  height: fit-content;
  margin: auto 0;
  width: 894px;
  z-index: 1;
}
.heroText > h1{
font-family: 'monument';
  width:100%;
  font-style: normal;
  font-weight: 400;
  font-size: 47px;
  line-height: 130.9%;
  color: #FFFFFF;
  margin: 0;
}
.heroText > p{
  font-size: 1rem;
  color: #D6F6FF;
  margin: 0;
}
.playBtn{
   display:flex;
   align-items: center;
   width: fit-content;
   gap:1rem;
    height: 82px;
    margin-top: 1rem;
}
.playBtn > button {
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background: rgba(6, 196, 178, 0.38);
    border: none;
    outline: 0;
    position: relative;
    cursor: pointer;
}
.playBtn>button > span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #06C4B2;
  display:flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.playBtn>p {
  font-size: 1rem;
  color: #D6F6FF;
  margin: 0;
}
.heroImage{
width: 607.62px;
  height: 319.71px;
  position: absolute;
  top: 31%;
  right: 4%;
  z-index: -1;
}