.Wrap{
  display:flex;
  flex-direction: column;
  width: 100%;
  position: relative;
    isolation: isolate;
  background-color: #006685;
  }
  
.ourFeaturesAbsolute {
    position: absolute;
    top: 30%;
    bottom: 0;
    right: 0;
    left: 0;
    height: 20px;
    width: 100%;
    z-index: -1;
    pointer-events: none;
  
  }
.ourFeaturesAbsolute > img {
      height: 100%;
      width: 100%;
 }