.ourFeaturesContainer{
  width: 100%;
  height: fit-content;
  padding: 4.5rem;
  background-size: cover;
  position: relative;
  isolation: isolate;
  z-index: 2;
}

.ourFeaturesContainer .ourFeaturesContainerInner{
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.ourFeaturesHeading{
display:flex;
justify-content: center;
flex-direction: column;
}
.ourFeaturesHeading span,
.ourFeaturesHeading h2{
  margin: 0;
}

.ourFeaturesHeading span {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #05FAE4;
  margin-bottom: 12px;
  text-align: center;
}

.ourFeaturesHeading h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  margin-bottom: 28px;
  text-align: center;
  font-family: "monument";
}
.ourFeaturesContainerInner .featuresWrap {
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
  /* border: 1px solid red; */
  display: grid;
  position: relative;
  grid-template-columns: repeat(2,1fr);
  column-gap:20px;
  row-gap: 25px;
  
}
.card {
  background: linear-gradient(90deg, #005873 0%, rgba(0, 88, 115, 0.4) 100%);
    border-radius: 20px;
    padding: 2rem;
    width:100%;
    transition: all 0.3s ease-in-out;
    margin: auto;
  border: 1px solid transparent;
  }
  .card:hover{
  border:1px solid #05FAE4;
    transition: all 0.3s ease-in-out;
}
.card h3{
  margin: 0;
  font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 179.9%;
    color:#fff;
}
.card p{
  font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 179.9%; 
    color: #D6F6FF;
}

.circleAbsolute{
  position: absolute;
  background: rgba(11, 62, 58, 0.29);
    backdrop-filter: blur(173.399px);
    width: 126px;
      height: 126px;
      border-radius: 100%;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.circleAbsolute > div{
  height: 80%;
  width: 80%;
  border-radius: 50%;

}
.circleAbsolute > div > img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}